.body-container {
  width: 100%;
  height: auto;
}
.product-container {
  width:50%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
.product {
  padding: 15px;
  text-align: center;
}
.product img {
  width:70%;
  height:auto;
}
